@use '@angular/material' as mat;

:root {
  max-width: 100%;
}

mat-form-field {
  width: 80%;
  margin: auto;
  display: block;
}

mat-card {
  margin: 10px auto;
  max-width: 50%;
  border: 1px dashed blueviolet;
  text-align: center;
}

mat-card-header {
  color: blue;
  margin: auto;
}

mat-list-item {
  display: block;
  margin-top: 10px;
  height: auto !important;
}

