@use '@angular/material' as mat;

:root {
  max-width: 100%;
}

input, button span {
  font-size: 16px;
}

mat-card {
  margin: 10px auto;
  max-width: 50%;
  border: 1px dashed blueviolet;
}

mat-card-header {
  color: blue;
}
